@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Главная страница</h1>
    <p><a asp-controller="Home" asp-action="RefreshDataBase">Обновить текущие данные</a></p>
</div>
