@using Entities;
@model Reward;
@{
    ViewData["Title"] = "EditReward";
}

<h1>Награда с наименованием @Model.Title успешно изменена</h1>
<p><a asp-action="Rewards" class="btn btn-secondary">Вернуться обратно</a></p>